#{extends 'main.html' /}
#{set title:'Error 403' /}

<h2>Error 403</h2>
        <section>- El directorio a cual deseas accesar no esta permitido 
        mediante navegación web en caso de que necesites alguna información 
        por favor de acudir con el administrador o con algunos de los representante 
        de esta pagina gracias.</section><hr/><section>Recuerda que para poder 
        navegar dentro del sitio tienes de ayuda el menu que esta a tu lado 
        izquierdo y en caso de que tengas alguna duda o aclaración por favor de 
        contactarnos en su respectiva sección.
        </section>
        <hr/>
        <section>
        <br/>
        Saludos
        <br/>
        Atentamente Kiosk Prints Team
        </section>