#{extends 'main.html' /}
#{set title:'Error 404' /}

<h2>Error 404</h2>
        <section>- Lo sentimos mucho pero al directorio que deseas entrar no existe o 
        no tienes los privilegios para entrar. Si recibes este mensaje por error por 
        favor comunícate con el administrador del sistema
        </section>
        <hr/>
        <section>Recuerda que para poder entrar en cierta zonas de la pagina debes 
        primeramente estar dado de alta y en segunda introducir tu usuario y 
        contraseña en el apartado de la izquierda disculpa las inconveniencias que 
        te hayamos podido causar.
        </section>
        <hr/>
        <section>
        <br/>
        Saludos
        <br/>
        Atentamente Kiosk Prints Team
        </section>