#{extends 'main.html' /}
#{set title:'Error Servidor' /}

<h2>Error 500 - Error De Servidor</h2>
        <section>- Sentimos mucho los problemas que hayamos podido ocasionar pero por 
        el momento nuestro servidor se encuentra fuera de linea ya sea por mantenimiento
        o por algun problema de conexion.<br/>
        Por favor de intentarlo mas tardemgracias por su comprención.
        </section>
        <hr/>
        <section>
        <br/>
        Saludos
        <br/>
        Atentamente Kiosk Prints Team
        </section>