#{extends 'main.html' /}
#{set title:'Acerca de Nosotros' /}

<h2>Acerca de Nosotros</h2>
<section>
  <h3>Orígenes</h3>
   <p>Muy bien como se podrán dar cuenta esta pagina esta realizada por alumnos para alumnos que desean utilizarlo en cuestión este es producto nacio del evento "Jornadas Académicas" en la cual se nos dio la autorización para implementar este sistema en el edificio y todo a sido gracias tanto a compañeros como maestros que nos han apoyado con este proyecto.</p>
</section>
<section>
 <h3>¿De Donde Somos?</h3>
   <p>Nosotros somos alumnos de la misma institución no venimos de ninguna empresa ya que por ende se nos proporciono por ser un buen proyecto se realizo solo y exclusivamente por alumnos de la institución.</p>
</section>
<section>
    <h3>Ideas</h3>
        <p>En caso de que quieras proponer alguna idea o comunicarte con nosotros para recibir consejos o apoyo podrás hacerlo en nuestra sección de <a href="@{Application.contactanos}">Contáctanos</a> ahí podrás ver los correos de nosotros.</p>
</section>