#{extends 'main.html' /}
#{set title:'Ver Archivos' /}

<h2>Archivos</h2>
        <section>
        <p>Puedes ver cada uno de tus archivos. Recuerda que los archivos están en pdf si te aparecen en el formato original de subida solo es cuestión de tiempo para la conversión en caso contrario por favor de hacérnoslo saber.</p><center>
        <table border="2" width="90%">
        <tr>
        <th>Nombre Archivo</th><th>Tamaño</th><th>Ver</th>
        </tr>
        <tr>
        <td id="td3">Prueba</td><td id="td3">KB MB</td><td id="td3"><a href="Archivo" target="_blank">Ver</a></td>
        </tr>
        </table></center>
        </section>