#{extends 'main.html' /}
#{set title:'Contáctanos' /}

<h2>Contáctanos</h2>
        <section>
        <p>Aqui están incluidos los nombres de los encargados de llevar acabo este proyecto se aceptan dudas, opiniones y sugerencias.</p>
        <table id="tdcon" align="center" border="5">
        <tr>
        <th>Nombre</th><th>Correo</th>
        </tr>
        <tr>
        <td id="td1">Irving Hinojos Salazar</td><td id="td2"><a href="mailto:irving.hi.sa@gmail.com" target="_blank">irving.hi.sa@gmail.com</a></td>
        </tr>
        <tr>
        <td id="td1">Laura Isela Valdiviezo Schiebeck</td><td id="td2"><a href="mailto:bbteamo28@hotmail.com" target="_blank">bbteamo28@hotmail.com</a></td>
        </tr>
        <tr>
        <td id="td1">Tania Carolina Torres Heredia</td><td id="td2"><a href="mailto:ttania_torres@hotmail.com" target="_blank">ttania_torres@hotmail.com</a></td>
        </tr>
        </table>
</section>