#{extends 'main.html' /}
#{set title:'Informacion de Cuenta' /}

<section>
    <h2>Nombre: Invitado</h2>
    <pre><h3>Saldo: $ 0		Cantidad Archivos: 0</h3></pre>
    <table align="center" border="2" width="90%">
    <tr>
    <th width="10%">Tipo</th><th>Nombre Archivo</th><th>Tamaño</th><th width="10%">Extensión</th>
    </tr>
    <tr>
    <td id="td3"><img src="@{'/public/images/adobe.png'}" width="50%"/></td><td id="td3">Prueba</td><td id="td3">KB MB</td><td id="td3">pdf</td>
    </tr>
    </table>
    </section>