#{extends 'main.html' /}
#{set title:'Eliminar Archivos' /}

<h2>Eliminar Archivos</h2>
		<section>
        <p>Puedes eliminar tus archivos de los cuales si cuentas con ellos se te mostraran en la lista que se encontraran a continuación así que ten cuidado porque una vez que lo elimines no podrás recuperar tu archivo.</p><center>
        <table border="2" width="90%">
        <tr>
        <th>Nombre Archivo</th><th>Eliminar</th>
        </tr>
        <form name="Eliminar1" action="" method="post" >
        <tr>
        <td width="80%" id="td3">Prueba<input type="hidden" name="Eliarch" value="Eliminar" /></td><td id="td3"><input type="submit" title="Eliminar" value="Eliminar" name="Eliminar"/></td>
        </tr></form>
        </table></center>
        </section>