#{extends 'main.html' /}
#{set title:'FAQs' /}

<section>
     <h3>¿Cómo  utilizar este sistema?</h3>
      <p>Para poder utilizar este sistema necesitas darte de alta con el encargado del sistema. Una vez que cuentes con tu usuario y contraseña en el apartado de la derecha puedes iniciar sesión para que puedas utilizar las herramientas de este sitio.</p><p>Al momento que te des de alta con el encargado ahí mismo podrás abonar la cantidad que deseas para poderla utilizar después en tus impresiones a realizar de misma manera puedes abonar el día que prefieras o necesites.</p>
    </section>