#{extends 'main.html' /}
#{set title:'Inicio' /}

<br/>
    <h1 align="center">Bienvenidos</h1>
    <section>
    	<p>Bienvenidos al primer sistema de impresión de la <a href="http://www.utch.edu.mx">Universidad Tecnológica de Chihuahua</a> en el cual tu podrás subir tus archivos desde cualquier lugar ya sea desde tu casa o dentro de la institución e imprimir tu trabajo en la sección asignada para ello.
    	</p>
    	<center><img src="@{'/public/images/princ.gif'}" height="60%" width="40%"/></center>
    	<p><a href="">¿Como utilizar este sistema?</a></p>
	</section>