<!DOCTYPE HTML>
<html>
<head>
<meta charset="${_response_encoding}">
<title>#{get 'title' /}</title>
<link href="@{'/public/stylesheets/princ.css'}" rel="stylesheet" type="text/css" media="all">
</head>
<body background="@{'/public/images/fondoverde.jpg'}">
<div class="container">
  <header><br/><center>
   	<img src="@{'/public/images/eltitulo.png'}" alt="Kiosk Prints" id="Kiosk Prints" width="50%"/><a href="http://www.utch.edu.mx"><img src="@{'/public/images/logo utch.gif'}" align="right" width="13%"/></a>
  </script>
  </center>
  </header>
  <div class="sidebar1">
    <nav style="background-image:url(@{'/public/images/fondo-menu.png'})"><br/>
      <ul>
      	<a href="@{Application.index}"><li><h4>Inicio</h4></li></a>
        <a href="@{Application.cuenta}"><li><h4>Información de Cuenta</h4></li></a>
        <a href="@{Application.subir}"><li><h4>Subir Archivos</h4></li></a>
        <a href="@{Application.archivos}"><li><h4>Ver Archivos</h4></li></a>
        <a href="@{Application.eliminar}"><li><h4>Eliminar Archivos</h4></li></a>
        <a href="@{Application.acerca}"><li><h4>Acerca de Nosotros</h4></li></a>
        <a href="@{Application.contactanos}"><li><h4>Contáctanos</h4></li></a>
        <a href="@{Application.faq}"><li><h4>FAQ's</h4></li></a>
      </ul>
    </nav>
    <aside><br/>
    Este sitio se ve mejor con:<br/>
    <a href="http://windows.microsoft.com/es-XL/internet-explorer/downloads/ie"><img src="@{'/public/images/ie9.png'}" width="20%" align="absmiddle"/> IE 9+</a><br/>
    <a href="http://www.opera.com/download/"><img src="@{'/public/images/opera.png'}" width="20%" align="absmiddle"/> Opera</a><br/>
    <a href="https://www.google.com.mx/chrome/?brand=ECSB&installdataindex=no-apps-no-promo&hl=es-419"><img src="@{'/public/images/chrome.png'}" width="20%" align="absmiddle"/> Chrome</a><br/>
    <a href="http://www.apple.com/mx/safari/"><img src="@{'/public/images/safari.png'}" width="20%" align="absmiddle"/> Safari</a><br/>
    <a href="http://www.mozilla.org/es-MX/firefox/new/"><img src="@{'/public/images/firefox.png'}" width="20%" align="absmiddle"/> Firefox</a><br/>
    </aside>
  </div>
  <article class="content"> 
  	#{doLayout /}
  </article>
  <aside1 style="background-image:url(@{'/public/images/login.png'})">
  <br/>
	<center><h3 style="width:90%; color:rgba(0,0,0,1); background-color:rgba(255,255,255,0.3)">Iniciar Sesion
    <p>Matricula<br/>
    <form action="" method="post">
    <input name="Usua" id="Usua" autocomplete="off" type="text" title="Usuario" dir="ltr" size="10%"/><br/>
    Contraseña<br/>
    <input name="Pasw" id="Pasw" type="password" autocomplete="off" title="Password" dir="ltr" size="10%" /><br/>
    <!--   ------------------------------------------------------>
    <b style="color:rgba(255,0,0,1); font-size:9px; padding-left:5px; padding-right:5px">Usuario y/o Contraseña son incorrectos</b><br/>
    <!-- ------------------------------------------------------------->
    <input name="Iniciar" type="submit" title="Iniciar Sesion" value="Iniciar Sesion"/>
    </form></p></h3>
    <br/><br/></center>
    </center></aside1>
    <aside2>
  <center><img src="@{'/public/images/logo.png'}" width="100%"/><p>Proyecto Kiosk Prints 2012 UTCH TIS41M Periodo Ene-Abr 2012</p></center>
  <center><a href="https://www.facebook.com/KioskPrints" target="_blank"><img src="@{'/public/images/siguenos.gif'}" width="75%" height="90"/></a></center>
  </aside2>
  <footer>
    <center>Universidad Tecnológica de Chihuahua</center><br/>
    <center></center>
</footer>
</div>
</body>
</html>
